<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Price Prediction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">House Price Prediction</h1>
        <form action="/predict" method="POST">
            <div class="form-group">
                <label for="bedrooms">Number of Bedrooms:</label>
                <input type="number" step="any" class="form-control" id="bedrooms" name="bedrooms" required>
            </div>
            <div class="form-group">
                <label for="bathrooms">Number of Bathrooms:</label>
                <input type="number" step="any" class="form-control" id="bathrooms" name="bathrooms" required>
            </div>
            <div class="form-group">
                <label for="floors">Number of Floors:</label>
                <input type="number" step="any" class="form-control" id="floors" name="floors" required>
            </div>
            <div class="form-group">
                <label for="yr_built">Year Built:</label>
                <input type="number" class="form-control" id="yr_built" name="yr_built" required>
            </div>
            <button type="submit" class="btn btn-primary">Predict Price</button>
        </form>
    </div>
</body>
</html>
